<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	  <title>CTG</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image" href="../static/img/logo8.png">
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/nav.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/thiscss.css">
  <link rel="stylesheet" href="../static/css/animation.css">

  

</head>
<body>
	{% include 'pages/navbar.html' %}
	

	{% block content %}
	{#home#}
	{% endblock %}

    <script src="../static/javascript/innerbac1.js"></script>
    <script src="../static/javascript/norable.js"></script>
    <script src="../static/javascript/app.js"></script>
    <script src="../static/javascript/main.js"></script>
    <script src="../static/javascript/thisjs.js"></script>
    <script src="../static/javascript/this.js"></script>
</body>
<html>
