<html>
<body>
    {%load static%}
<div class="topnav" id="myTopnav">
    <div class="logo8"><a class="nav-bar-brand" href="#">
        <img class="thislogo8" src="{%static 'img/logo8.png'%}" alt="" width="74" height="68" style="border-radius: 50% 50% 50% 50%; margin-right:10px; float: center; cursor: no-pointer;">
    </div>
  
          <a href="javascript:void(0)" class="icon" onclick="myFunction()">
            <img src="{%static 'img/logo1.png'%}" class="myTopnav" width="54" height="48" style="border-radius: 50% 50% 50% 50%; margin-right:10px;">
          </a>
          </div>
</body>
</html>